@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Assistant";
}

html,
body {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Roboto Condensed";
}

h1 {
  color: #006349;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p.info-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bg-login-page {
  background-image: url("/images/bg-login-page.png");
  background-size: repeat;
}

.bg-splash-page {
  background: linear-gradient(
      rgba(211, 211, 211, 0.7),
      rgba(211, 211, 211, 0.7)
    ),
    url("/images/bg-login-page.png") repeat;
  background-color: #006349;
  background-blend-mode: overlay; /* This blends the color overlay with the image */
}

.btn-login {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 16px;
}

/* Splash Screen transition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Sliding text animations */
.sliding-text-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
