# Define RabbitMQ environment variables once at the top level
x-environments: &rabbitmq_client_env
  RABBITMQ_USER: ${RABBITMQ_USER}
  RABBITMQ_PASS: ${RABBITMQ_PASS}
  RABBITMQ_HOST: ${RABBITMQ_HOST}
  RABBITMQ_PORT: ${RABBITMQ_PORT}
  RABBITMQ_EXCHANGE_USER_CHATS: ${RABBITMQ_EXCHANGE_USER_CHATS}
  RABBITMQ_QUEUE_USER_CHATS: ${RABBITMQ_QUEUE_USER_CHATS}
  RABBITMQ_QUEUE_USER_CHAT_REPLIES: ${RABBITMQ_QUEUE_USER_CHAT_REPLIES}
  RABBITMQ_QUEUE_TWILIOBOT_REPLIES: ${RABBITMQ_QUEUE_TWILIOBOT_REPLIES}
  RABBITMQ_QUEUE_SLACKBOT_REPLIES: ${RABBITMQ_QUEUE_SLACKBOT_REPLIES}
  RABBITMQ_QUEUE_HISTORIES: ${RABBITMQ_QUEUE_HISTORIES}

services:
  twiliobot:
    image: python:3.12.3
    working_dir: /app
    ports:
      - ${TWILIO_BOT_PORT}:${TWILIO_BOT_PORT}
    environment:
      <<: *rabbitmq_client_env
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_BOT_PORT: ${TWILIO_BOT_PORT}
      TWILIO_WHATSAPP_NUMBER: ${TWILIO_WHATSAPP_NUMBER}
    depends_on:
      - rabbitmq
    command: ["./dev.sh"]
    volumes:
      - ./twiliobot:/app:delegated
      - ./packages/Akvo_rabbitmq_client:/lib/Akvo_rabbitmq_client:delegated

  slackbot:
    build: slackbot
    ports:
      - ${SLACK_BOT_PORT}:${SLACK_BOT_PORT}
    environment:
      <<: *rabbitmq_client_env
      SLACK_BOT_PORT: ${SLACK_BOT_PORT}
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      SLACK_SIGNING_SECRET: ${SLACK_SIGNING_SECRET}
    depends_on:
      - rabbitmq

  assistant:
    image: python:3.12.3
    working_dir: /app
    environment:
      <<: *rabbitmq_client_env
      ASSISTANT_ROLE: ${ASSISTANT_ROLE}
      OLLAMA_HOST: ${OLLAMA_HOST}
      OLLAMA_PORT: ${OLLAMA_PORT}
      OLLAMA_CHAT_MODEL: ${OLLAMA_CHAT_MODEL}
    depends_on:
      - rabbitmq
    command: ["./run.sh"]
    volumes:
      - ./assistant:/app:delegated

  librarian:
    image: python:3.12.3
    working_dir: /app
    environment:
      CHROMADB_HOST: ${CHROMADB_HOST}
      CHROMADB_PORT: ${CHROMADB_PORT}
      CHROMADB_COLLECTION: ${LIBRARIAN_COLLECTION}
    depends_on:
      - chromadb
    command: ["./run.sh"]
    volumes:
      - ${LIBRARIAN_CORPUS}:/data-sets/corpus.parquet.gz:ro
      - ./librarian:/app:delegated

  chromadb:
    image: chromadb/chroma
    ports:
      - ${CHROMADB_PORT}:${CHROMADB_PORT}
    environment:
      IS_PERSISTENT: True
      ANONYMIZED_TELEMETRY: False
    volumes:
      - chromadb-data:/chroma/chroma

  rabbitmq:
    image: rabbitmq:management
    ports:
      - ${RABBITMQ_PORT}:${RABBITMQ_PORT}
      - ${RABBITMQ_MANAGEMENT_PORT}:${RABBITMQ_MANAGEMENT_PORT}
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/mnesia/

  postgres:
    image: postgres:12-alpine
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
    volumes:
      - ./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./postgres/script:/script:ro
      - pg-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8.6
    ports:
      - ${PGADMIN_PORT}:${PGADMIN_PORT}
    environment:
      PGADMIN_LISTEN_PORT: ${PGADMIN_PORT}
      PGADMIN_DEFAULT_EMAIL: dev@akvo.org
      PGADMIN_DEFAULT_PASSWORD: ${POSTGRES_PASS}
    volumes:
      - ./postgres/pgadmin4/servers.json:/pgadmin4/servers.json
      - pg-admin-data:/var/lib/pgadmin
    depends_on:
      - postgres

  backend:
    image: python:3.12.3
    working_dir: /app
    environment:
      <<: *rabbitmq_client_env
      DATABASE_URL: postgresql://akvo:${POSTGRES_PASS}@postgres:${POSTGRES_PORT}/dev
      BACKEND_PORT: ${BACKEND_PORT}
      JWT_SECRET: ${JWT_SECRET}
      WEBDOMAIN: "http://localhost:${FRONTEND_PORT}"
      MAGIC_LINK_CHAT_TEMPLATE: ${MAGIC_LINK_CHAT_TEMPLATE}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_WHATSAPP_NUMBER: ${TWILIO_WHATSAPP_NUMBER}
    command: ["./dev.sh"]
    volumes:
      - ./backend:/app:delegated
      - ./setup.cfg:/app/setup.cfg:ro
      - ./packages/Akvo_rabbitmq_client:/lib/Akvo_rabbitmq_client:delegated
    depends_on:
      - postgres
      - rabbitmq

  frontend:
    image: akvo/akvo-node-18-alpine:20230831.105309.b9593b7
    working_dir: /app
    environment:
      FRONTEND_PORT: ${FRONTEND_PORT}
      BACKEND_PORT: ${BACKEND_PORT}
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    command: ["./dev.sh"]
    volumes:
      - ./frontend:/app:delegated
    depends_on:
      - backend

  packages:
    image: python:3.12.3
    working_dir: /app
    environment:
      <<: *rabbitmq_client_env
    command: ["./tests.sh"]
    volumes:
      - ./packages:/app:delegated
    depends_on:
      - rabbitmq

volumes:
  pg-data:
  pg-admin-data:
  rabbitmq-data:
  chromadb-data:
