# Slack Bot
SLACK_BOT_PORT=3000
SLACK_BOT_TOKEN=CHANGEME
SLACK_SIGNING_SECRET=CHANGEME

# Assistant
ASSISTANT_ROLE="CHANGEME"

# Librarian
LIBRARIAN_CORPUS=CHANGEME
LIBRARIAN_COLLECTION=knowledge-base

# Ollama LLM Runtime
OLLAMA_HOST=CHANGEME
OLLAMA_PORT=11434
OLLAMA_CHAT_MODEL=mistral

# ChromaDB Vector Database
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000

# RabbitMQ Message Queueing
RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=CHANGEME
RABBITMQ_QUEUE_USER_CHATS=user-chats
RABBITMQ_QUEUE_USER_CHAT_REPLIES=user-chat-replies
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Next JS Frontend / Client
FRONTEND_PORT=3000

# PostGRE SQL Database and PGadmin
POSTGRES_PORT=5432
POSTGRES_PASS="CHANGEME"
PGADMIN_PORT=5050

# Backend
BACKEND_PORT=5000
JWT_SECRET="CHANGEME"
