# Twilio
TWILIO_ACCOUNT_SID=CHANGEME
TWILIO_AUTH_TOKEN=CHANGEME
TWILIO_WHATSAPP_NUMBER=CHANGEME

# Slack Bot
SLACK_BOT_TOKEN=CHANGEME
SLACK_SIGNING_SECRET=CHANGEME

# Assistant
ASSISTANT_LANGUAGES=en, CHANGEME, CHANGEME
CHROMADB_DISTANCE_CUTOFF=1.5

# EPPO Librarian
CHROMADB_COLLECTION_TEMPLATE="EPPO-datasheets-{}"
EPPO_COUNTRY_ORGANISM_URL=https://gd.eppo.int/country/{country}/organisms.csv
EPPO_DATASHEET_URL=https://gd.eppo.int/taxon/{eppo_code}/datasheet
# comma-separated list of ISO 3166-1 alpha-2 country codes
EPPO_COUNTRIES=CHANGEME, CHANGEME
CHUNK_SIZE=5
OVERLAP_SIZE=1

# OpenAI LLM Runtime
OPENAI_API_KEY=sk-90XlXxxxxxxxxxxxx
OPENAI_CHAT_MODEL=gpt-4o

# ChromaDB Vector Database
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000

# RabbitMQ Message Queueing
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=rabbit
RABBITMQ_PASS=CHANGEME
RABBITMQ_EXCHANGE_USER_CHATS=user_chats_exchange
RABBITMQ_QUEUE_USER_CHATS=user_chats
RABBITMQ_QUEUE_USER_CHAT_REPLIES=user_chat_replies

# Next JS Frontend / Client
FRONTEND_PORT=3000

# PostgreSQL Database and PGadmin
POSTGRES_PORT=5432
POSTGRES_PASS=CHANGEME
PGADMIN_PORT=5050

# Backend
BACKEND_PORT=5000
JWT_SECRET=CHANGEME
WEBDOMAIN=http://localhost
MAGIC_LINK_CHAT_TEMPLATE="You can login into Agriconnect by clicking this link: {magic_link}"
GOOGLE_APPLICATION_CREDENTIALS=CHANGEME
GOOGLE_APPLICATION_CREDENTIALS_PATH=CHANGEME
BUCKET_NAME=CHANGEME
INITIAL_CHAT_TEMPLATE="Hi {farmer_name}, You've been added to Agriconnect. Send us a message here to start chatting."
LAST_MESSAGES_LIMIT=10
ASSISTANT_LAST_MESSAGES_LIMIT=10
