fastapi==0.111.0
PyJWT==2.8.0
alembic==1.13.1
SQLAlchemy==2.0.30
psycopg2==2.9.9
sqlmodel==0.0.18
black==24.4.2
pytest==8.2.2
pytest-asyncio==0.23.7
pytest-mock==3.14.0
coveralls==4.0.1
gevent==24.2.1
flake8==7.1.0
Faker==25.8.0
pydantic-extra-types==2.8.2
phonenumbers==8.13.39
twilio==9.1.1
python-socketio==5.11.3
pytest-asyncio==0.23.7
aiohttp==3.10.5
slack_bolt==1.19.1
slack_sdk==3.30.0
pytest-aiohttp==1.0.5
pydub==0.25.1
SpeechRecognition==3.10.4
google-cloud-storage==2.18.2

pandas==2.2.2
